<nav class="wu-nav" id="wuNav">
  <div class="wu-nav-inner">
    <% if user_signed_in? %>
      <%= link_to analyses_path, class: "wu-brand" do %>
        <span class="wu-logo-wrap"><%= image_tag "logo.png", alt: "Wagon Up" %></span><span class="wu-brand-name">Wagon Up</span>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "wu-brand" do %>
        <span class="wu-logo-wrap"><%= image_tag "logo.png", alt: "Wagon Up" %></span><span class="wu-brand-name">Wagon Up</span>
      <% end %>
    <% end %>

    <ul class="wu-nav-links">
      <li><%= link_to "How it works", root_path(anchor: "how-it-works") %></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>

    <div class="wu-nav-right">
      <% if user_signed_in? %>
        <div class="wu-avatar-wrap">
          <button class="wu-avatar" id="wuAvatarBtn" type="button">
            <%= current_user.name.split.map(&:first).first(2).join.upcase %>
          </button>
          <div class="wu-avatar-dropdown" id="wuAvatarDrop">
            <%= link_to "New analysis", new_analysis_path %>
            <%= link_to "Account settings", edit_user_registration_path %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
          </div>
        </div>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "wu-btn-ghost" %>
        <%= link_to "Register", new_user_registration_path, class: "wu-btn-primary" %>
      <% end %>

      <button class="wu-burger" id="wuBurger" type="button" aria-label="Toggle menu">
        <span></span><span></span><span></span>
      </button>
    </div>
  </div>

  <div class="wu-mobile-nav" id="wuMobileNav">
    <%= link_to "How it works", root_path(anchor: "how-it-works") %>
    <a href="#">About us</a>
    <a href="#">Contact</a>
    <% if user_signed_in? %>
      <%= link_to "My profile", analyses_path %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>
</nav>
